/* app css stylesheet */

.day {
    background-image: url("../img/lake.jpg");
}

.math {
	 background-image: url("../img/field.jpg");
}

#wrapper {
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
}

.menu {
    text-align: center;
    list-style: none;
    padding: 0 0 0.5em;
    font-size: 40px;
    font-weight: bolder;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

body {
	font-size: 25px;
}

.form-horizontal-div {
	color: white;
	margin-top: 60px;
	font-size: 30px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.form-horizontal-form {
	color: white;
	margin-top: 40px;
}

/* .form-horizontal-label { */
/* 	width: 120px; */
/* 	font-size: 25px; */
/* 	text-align: left; */
/* 	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
/* } */
