<h1>DAY</h1>

<form name="myForm">
	<label>Day: <input type="text" name="day"
		ng-model="dayInYear.day" ng-pattern="dayInYear.pattern" required
		ng-trim="false">
	</label>
	<div role="alert">
		<span class="error" ng-show="myForm.day.$error.required">
			Required!</span> <span class="error" ng-show="myForm.day.$error.pattern">
			Only digits (1-31)!</span>
	</div>


	<label>Month: <input type="text" name="month"
		ng-model="monthInYear.month" ng-pattern="monthInYear.pattern" required
		ng-trim="false">
	</label>
	<div role="alert">
		<span class="error" ng-show="myForm.month.$error.required">
			Required!</span> <span class="error" ng-show="myForm.month.$error.pattern">
			Only digits (1-12)!</span>
	</div>


	Day: {{dayInYear.day}}, month: {{monthInYear.month}}
</form>