<h1>DAY</h1>

<form name="myForm">
	<label>Day: <input type="text" name="day"
		ng-model="dayOfMonth.day" ng-pattern="dayOfMonth.pattern" required
		ng-trim="false">
	</label>
	<div role="alert">
		<span class="error" ng-show="myForm.day.$error.required">Required!</span> 
		<span class="error" ng-show="myForm.day.$error.pattern">Only digits (1-31)!</span>
	</div>

	<label>Month: <input type="text" name="month"
		ng-model="monthOfYear.month" ng-pattern="monthOfYear.pattern" required
		ng-trim="false">
	</label>
	<div role="alert">
		<span class="error" ng-show="myForm.month.$error.required">Required!</span> 
		<span class="error" ng-show="myForm.month.$error.pattern">Only digits (1-12)!</span>
	</div>

	Day: {{dayOfMonth.day}}, month: {{monthOfYear.month}}
	
	<div>
		Get a random fact about a day of year: <button ng-click="getFactAboutDay()">Click</button>
		<br/>
		<span ng-show="description.text.length > 1"> Description: {{description.text}} </span>
		<br/>
		<span ng-show="description.year.length > 1"> Year: {{description.year}} </span>
	</div>
</form>